#grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
}

#header {
    grid-area: header;
  
}

#main {
    grid-area: main;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: "img1 img2 img3";
  display: flex;
  justify-content: space-around;
}

#footer {
    grid-area: footer;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: "logo social contatti";
  display: flex;
  justify-content: space-around;
  
}

#img1{
    grid-area: img1;
    width: 30%;
}

#img2{
    grid-area: img2;
    width: 30%;
}

#img3{
    grid-area: img3;
    width: 30%;
}